<div class="container">
  <form (ngSubmit)="setDefaultPayment()" method="post">
    <table class="table">
      <thead>
      <tr>
        <th>Default</th>
        <th>Credit Card</th>
        <th>Operations {{defaultPaymentId}}</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let payment of paymentList">
        <td>
          <input type="radio" name="defaultPaymentId" [(ngModel)]="defaultPaymentId" [value]="payment.id" />
          <span>default</span>

        </td>
        <td>{{payment.cardName}}</td>
        <td>
          <a mat-button (click)="onUpdatePayment(payment)"><i class="fa fa-pencil"></i></a>
          <a mat-button (click)="onDeletePayment(payment)"><i class="fa fa-times"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
    <button mat-raised-button class="mat-primary" type="submit">Set Default</button>
    <button mat-raised-button class="mat-primary" (click)="onNew()">Add New</button>
  </form>
</div>
