<div>
  <br/>
  <app-message [message]="message"></app-message>
  <mat-tab-group (selectedIndexChange)="selectedChange($event)" [selectedIndex]="selectedShippingTab">
    <mat-tab label="List of Shipping Addresses" >
      <app-user-shipping-list (updateTabEvent)="changeTab($event)"></app-user-shipping-list>
    </mat-tab>
    <mat-tab label="Add(Update) Shipping Address">
      <app-new-user-shipping (updateTabEvent)="changeTab($event)"></app-new-user-shipping>
    </mat-tab>
  </mat-tab-group>
</div>
