<div class="container" style="margin-top:20px;">
  <form (ngSubmit)="onNewPayment()" method="post">
    <div class="bg-info" *ngIf="message.show">{{message.text}}</div>
    <input hidden="hidden" name="id" [(ngModel)]="payment.id" />
    <div class="form-group">
      <h5>* Give a name for your card:</h5>
      <input type="text" class="form-control" id="cardName" placeholder="Card Name" name="cardName"
             required="required" [(ngModel)]="payment.cardName" />
    </div>
    <!-- Billing Address -->
    <hr />
    <div class="form-group">
      <label for="billingName">* Name</label>
      <input type="text" class="form-control" id="billingName" placeholder="Receiver name"
             name="userBillingName" required="required" [(ngModel)]="billing.userBillingName" />
    </div>
    <div class="form-group">
      <label for="billAddress">* Street Address</label>
      <input type="text" class="form-control" id="billAddress" placeholder="Street Address 1"
             name="userBillingStreet1" required="required" [(ngModel)]="billing.userBillingStreet1" />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Street Address 2" name="userBillingStreet2"
             [(ngModel)]="billing.userBillingStreet2" />
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="form-group">
          <label for="userBillingCity">* City</label>
          <input type="text" class="form-control" id="userBillingCity" placeholder="Your Billing City"
                 name="userBillingCity" required="required" [(ngModel)]="billing.userBillingCity" />
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <label for="billingState">* State</label>
          <select id="billingState" class="form-control" name="userBillingstate"
                  [(ngModel)]="billing.userBillingState" required="required">
            <option value="" disabled>-- state --</option>
            <option *ngFor="let state of stateList">{{state}}</option>
          </select>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <label for="userBillingZipcode">* Zipcode</label>
          <input type="text" class="form-control" id="userBillingZipcode" placeholder="Zipcode"
                 name="userBillingZipcode" required="required" [(ngModel)]="billing.userBillingZipcode" />
        </div>
      </div>
    </div>
    <!-- User Payment -->
    <hr />
    <div class="form-group">
      <h4>Credit Card Information</h4>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <img src="../../../assets/image/creditcard.png" class="img-responsive" />
        <br>
        <div class="form-group">
          <label for="cardType">* Select Card Type</label>
          <select id="cardType" class="form-control" name="cardType" [(ngModel)]="payment.type" required="required">
            <option value="" disabled>-- Card Type --</option>
            <option value="visa">Visa</option>
            <option value="mastercard">Mastercard</option>
            <option value="discover">Discover</option>
            <option value="amex">American Express</option>
          </select>
        </div>
        <div class="form-group">
          <label for="cardHolder">* Card Holder</label>
          <input type="text" class="form-control" id="cardholder" placeholder="Card Holder Name"
                 name="cardHolderName" required="required" [(ngModel)]="payment.holderName" />
        </div>
        <div class="form-group">
          <label for="cardNumber">* Card Number</label>
          <div class="input-group">
            <input required="required" id="cardNumber" type="tel" class="form-control" name="cardNumber"
                   placeholder="Valid Card Number" [(ngModel)]="payment.cardNumber" />
            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7">
        <div class="form-group">
          <label>* Expiration Date</label>
          <div class="row">
            <div class="col-xs-6">
              <select class="form-control" name="expiryMonth" required="required" [(ngModel)]="payment.expiryMonth">
                <option value="" disabled="disabled">
                  -- Month --
                </option>
                <option value="1">Jan (01)</option>
                <option value="2">Feb (02)</option>
                <option value="3">Mar (03)</option>
                <option value="4">Apr (04)</option>
                <option value="5">May (05)</option>
                <option value="6">Jun (06)</option>
                <option value="7">July (07)</option>
                <option value="8">Aug (08)</option>
                <option value="9">Sep (09)</option>
                <option value="10">Oct (10)</option>
                <option value="11">Nov (11)</option>
                <option value="12">Dec (12)</option>
              </select>
            </div>
            <div class="col-xs-6">
              <select class="form-control" name="expiryYear" required="required" [(ngModel)]="payment.expiryYear">
                <option value="" disabled="disabled">
                  -- Year --
                </option>
                <option value="17">2017</option>
                <option value="18">2018</option>
                <option value="19">2019</option>
                <option value="20">2020</option>
                <option value="21">2021</option>
                <option value="22">2022</option>
                <option value="23">2023</option>
                <option value="24">2024</option>
                <option value="25">2025</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-5 pull-right">
        <div class="form-group">
          <label for="cardCVC">CV Code</label>
          <input id="cardCVC" type="tel" class="form-control" name="cardCVC" placeholder="CVC" [(ngModel)]="payment.cvc" />
        </div>
      </div>
    </div>
    <hr />
    <button mat-raised-button type="submit" class="mat-primary">
      Save All
    </button>
  </form>
</div>
