<div class="container">
  <form (ngSubmit)="setDefaultShipping()" method="post">
    <table class="table">
      <thead>
      <tr>
        <th>Default</th>
        <th>Shipping Address</th>
        <th>Operations</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let shipping of shippingList">
        <td>
          <input type="radio" name="defaultUserShippingId" [(ngModel)]="defaultShippingId" [value]="shipping.id" />
          <span>default</span>
        </td>
        <td>{{shipping.street1}}, {{shipping.city}}, {{shipping.state}}</td>
        <td>
          <a mat-button (click)="onUpdateShipping(shipping)"><i class="fa fa-pencil"></i></a>
          <a mat-button (click)="onRemoveShipping(shipping)"><i class="fa fa-times"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
    <button mat-raised-button class="mat-primary" type="submit">Set Default</button>
    <button mat-raised-button class="mat-primary" (click)="onAddNew()">Add New</button>
  </form>
</div>
