<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <h2 class="section-headline"><span>Home</span></h2>
    </div>
    <div class="col-xs-4">
      <img src="../../../assets/image/logo.png" class="img-responsive right" style="width:400px; z-index:1;" />
    </div>
    <img src="../../../assets/image/wood.png" class="img-responsive right" style="position: absolute; margin-top: 90px; z-index: -2;width:90%;" />
  </div>

  <hr style="position: absolute;width:85%; height:6px; background-color: #333; z-index:-1; margin-top: -170px;" />
  <hr />

	<div *ngIf="!dataFetched" style="margin-top: 50px;">
		<div class="row">
			<div class="col-md-2 col-md-offset-5">
				<mat-spinner></mat-spinner>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top:30px;">
		<div class="col-xs-2"></div>
		<div *ngIf="dataFetched">
			<div class="col-xs-10">
				<div class="panel-group">
					<div class="panel panel-default" style="border:none;">
						<div class="panel-body" style="background-color: #303030; margin-top: 20px; color:white;">
							<mat-tab-group [selectedIndex]="selectedProfileTab">
								<mat-tab label="Edit">
                  <div class="container">
                    <app-account-edit></app-account-edit>
                  </div>
								</mat-tab>
                <mat-tab label="Order">

                </mat-tab>
                <mat-tab label="Payment">
                    <app-user-payment></app-user-payment>
                </mat-tab>
                <mat-tab label="Orders">
                </mat-tab>
                <mat-tab label="Shipping">
                  <app-user-shipping></app-user-shipping>
                </mat-tab>
							</mat-tab-group>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
